#calculator {
  background: #1e1e1e;	
  padding: 60px;
  border-radius: 5px 5px 10px 10px;
  display: inline-block;
}	

#Display {
  background: #000000;	
  padding: 20px;
  border-radius: 5px 5px 5px 5px;
  height: auto;
  width: auto;
  display: inline-block;		
}

